@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {

  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:none ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6738EB; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #131127; 
}
.logo-image img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.gap li {
    margin-right: 30px;
}

.header {
    background: #131127;
    font-weight: 20px;
    opacity: 0.9;
}

.n {
    text-decoration: none;
    color: rgb(224, 222, 222);
    margin-left: 20px;
}

.n:hover {
    color: aliceblue;
}

.active a {
    color: #6738EB;
}

.top {
    background: url('/images/bg_71.png') no-repeat center center;
    height: 600px;
    background-size: cover;
    z-index: 1;
}

.m4 {
    color: #131127;
    /* margin-bottom: 1.5rem !important; */
    width:90%;
    position:relative;
    left:50px;
    top:40px;
    font-weight:normal;
    opacity: 100%;
}
.m101{
    color: #131127;
    margin-bottom: 1.5rem !important;
    width:90%;
    position:relative;
    left:50px;
    font-weight:normal;
    opacity: 80%;
}


.m5 {
    color: #fff;
}

m5 span {
    font-weight: bold;
}

.block-18 .icon>span {
    font-size: 40px;
}

.ftco-intro {
    margin-top: -90px;
}

.ftco-intro.ftco-intro-2 {
    margin-top: 0 !important;
}

.ftco-intro .block-18 {
    display: block;
    width: 100%;
    padding: 30px;
    color: #fff; 
}

.ftco-intro .block-18.color-1 {
    background: #6738EB;
}

.ftco-intro .block-18.color-2 {
    background: #5a33c5;
}

.ftco-intro .block-18.color-3 {
    background: #6738EB;
}

.ftco-intro .block-18 .text strong {
    font-size: 60px;
    color: #fff;
    font-weight: 300;
}

.ftco-intro .block-18 .text span {
    display: block;
    color: #fff;
    font-size: 24px;
}

.col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    z-index: 2;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.donor {
    background-color: rgba(0, 0, 0, alpha);
    border: none;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 5px 20px -5px rgb(0 0 0 / 50%);
    transition: all 0.2s ease-in-out;
}

.donor:hover {
    background-color: #131127;
    color: white;
}

.Volunteer {
    background-color: rgba(0, 0, 0, alpha);
    border: none;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 5px 20px -5px rgb(0 0 0 / 50%);
    transition: all 0.2s ease-in-out;
}

.Volunteer:hover {
    background-color: #131127;
    color: white;
}

.ftco-section {
    margin: 50px 0 0;
}

.mid{
    margin-top:50px;
}

.row {
    display: inline-block;
}

.col{
    padding:0 !important;
    box-shadow:0 0 50px -28px;
    margin-right:2.5%;
    margin-left:2.5%;
    margin-bottom:5%;
}
.col-lg-4 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 66px -24px rgba(0, 0, 0, 20%);
    margin: 40px 80px !important;
    padding-bottom: 20px;
    width: 100px;
    height: 200px;
}


.media img {
    width: 100px;
    height: 250px;
    
    
}

/* .gallery img {
    height:100%;
    width: 100%;
    border-radius:5px;
    transition:transform 2s ease in out;
}

.gallery img:hover {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 20%);
    cursor:pointer;
    transform:translate(0,-9px);
    opacity:0.9;
} */

.ftco-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #252525;
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ftco-footer .ftco-footer-widget h2:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    content: '';
    width: 70px;
    height: 1px;
    background: #fff;
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: #fff;
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
    color: rgba(242, 134, 39, 0.966);
}

.ftco-footer a:hover {
    color: #fff;
}

.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.ftco-footer .block-21 .text .heading {
    font-size: 18px;
}

.ftco-footer .block-21 .text .heading a {
    color: rgba(255, 255, 255, 0.8);
}

.ftco-footer .block-21 .text .heading a:hover,
.ftco-footer .block-21 .text .heading a:active,
.ftco-footer .block-21 .text .heading a:focus {
    color: #f86f2d;
}

.ftco-footer .block-21 .text .meta>div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.ftco-footer .block-21 .text .meta>div a {
    color: gray;
}

.info a {
    color: orange;
}

.list-unstyled {
    display: flex;
    flex-direction: column;
}

.list-unstyled a {
    text-decoration: none;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li,
.block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);

}

.block-23 ul li .icon,
.block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white;
    flex-direction: column;
}
.xyz{
    display:flex;
    flex-direction:column;
}
.xyz a{
    text-decoration:none;
}
.xyz .text{
    color:rgb(222, 219, 219);
}


.silderIn{
    height: 100%;
    margin-top: 264px;
    margin-bottom: 64px;
     color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  /* overflow: hidden; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  top: -100px;
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    top: -100px;
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    top: -100px;
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
     top: -100px;
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}





.container-gallery {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading12 {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading12 span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
